all:
  vars:
    ansible_user: user
    ansible_ssh_private_key_file: ~/.ssh/id_ed25519
    ansible_become_password: "****"

  hosts:
    my-vm:
      ansible_host: 213.171.28.34
    # network_ip: 213.171.28.34  
      users:
        - name: user
          ssh_key: "****"
      system_group: "admins"
      ufw_rules:
        - rule: allow
          port: "22"
          proto: tcp
        - rule: allow
          port: "9100"
          proto: tcp
